.middle {
    float: left;
    position: absolute;
    margin-left: 250px;
    margin-right: 250px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.messages .tasks {
    width: 70%;
    height: 70%;
    top: 0px;
    margin-bottom: 60px;
    /* overflow-y: scroll; */
    /* scrollbar-width: thin;
    scrollbar-color: blue; */
}

.form-container {
    width: 70%;
    position: fixed;
    bottom: 0px;
    background-color: white;
}

form {
    width: 100%;
}

.text-input {
    margin: 10px;
    width: 100%;
}